<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">


	<!-- the targets to write to -->
	<targets>
		<!--https://nlog-project.org/config/?tab=layout-renderers-->
		<!--https://github.com/NLog/NLog/wiki/ColoredConsole-target-->
		<target name="logconsole" xsi:type="ColoredConsole"
			  layout="${logger:shortName=true}${newline}${date}${newline}${message}${newline}"
			  useDefaultRowHighlightingRules="True">

			<!--<highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/>
      -->
			<!-- repeated -->
			<highlight-word backgroundColor="Black" foregroundColor="Green" ignoreCase="True" regex="Lifetime|.+Handler|.+Service|.+Controller"/>
		</target>
		<!-- write logs to file  -->
		<target xsi:type="File" name="tracefile" fileName="Logs/${shortdate}.log"	layout="${date}|${uppercase:${level}}${newline}${message}${newline}${exception:format=tostring}" />
		<target xsi:type="File" name="errorfile" fileName="Logs/${shortdate}_errors.log" layout="${date}|${uppercase:${level}}${newline}${message}${newline}${exception:format=tostring}${newline}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" levels="Info,Error" writeTo="logconsole">
			<filters defaultAction='Log'>
				<when condition="logger == 'Microsoft.EntityFrameworkCore.Update'" action="Ignore" />
				<when condition="logger == 'Microsoft.EntityFrameworkCore.Infrastructure'" action="Ignore" />
				<when condition="logger == 'Microsoft.EntityFrameworkCore.ChangeTracking'" action="Ignore" />
				<when condition="logger == 'Microsoft.EntityFrameworkCore.Query'" action="Ignore" />
			</filters>
		</logger>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Debug" writeTo="tracefile">
			<filters defaultAction='Log'>
				<when condition="logger == 'Microsoft.EntityFrameworkCore.Update'" action="Ignore" />
				<when condition="logger == 'Microsoft.EntityFrameworkCore.Infrastructure'" action="Ignore" />
				<when condition="logger == 'Microsoft.EntityFrameworkCore.ChangeTracking'" action="Ignore" />
				<when condition="logger == 'Microsoft.EntityFrameworkCore.Query'" action="Ignore" />
			</filters>
		</logger>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Error" writeTo="errorfile" />
	</rules>
</nlog>